.box{
    border: 1px;
   border-style: solid;
   border-color: white;
}
.bodycontainer {
   margin: 0 auto;

   text-align: center;
   
   width: 67%;
   
   background: white;
   
   border: 10px solid orange;
   
   border-radius: 20px;

}

#container{

    margin: 0 auto;
    height: 680px;
    width:680px;
    border: solid;
    border-width: 5px;
    border-color: green;
    background-color: white;
    display: grid;
    margin-top:20px;
}
body{
   background: rgb(11, 44, 75);
}
h1{
   margin: 0px;

font-size: 114px;

font-family: 'Lobster', cursive;

color: #5374AC;

text-shadow: 5px 3px #151c20;
}
.button{
   
   color: white;
   font-size: 20px;
   height: 40px;
   border:none;
   background-color: #53A0AC;
   outline: none;
}
.footer {
   display: flex;
   justify-content: space-evenly;
   position: relative;
   width: 500px;
   margin: auto;
   top: 0px;
   color: black;
}
